.main {
  height: 600px;
  width: 100px;
}


.bluebg {
  background-color: #0773B4;
}

.bluecol{
  color:#0773B4;
  border-color: #0773B4;
}
.bluecol2{
 font-size: 14px;
  border-color: #0773B4;
}



.whitecol{
  color: white;
  
}