


.recommendedVideos {
  width: 300px;
}

.recommendedVideos h2 {
  font-size: 20px;
  margin: 0 0 15px;
}

.videoList {
  display: flex;
  flex-direction: column;
}

.videoItem {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.videoItem:hover .videoTitle {
  color: blue;
}

.videoItem img {
  width: 200px;
  height: 120px;
}

.videoInfo {
  margin-left: 10px;
}

.videoTitle {
  font-size: 16px;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.userInfo {
  font-size: 14px;
  color: grey;
}

.joinbg {
  background-color: #0773B480;
  /* opacity: 50px; */
}

.btnbg{
  background-color: #0773B433;
  color: #0773B4;
}